.table {
    position: relative;
    font-size: 1em;
    font-family: 'Tahoma', serif;
    margin: auto;
    margin-top: 20px;
    background-image: linear-gradient(rgb(49, 50, 50), rgb(186, 186, 186), rgb(49, 50, 50) 900px);
    box-shadow: 5px 5px 10px grey;
    width:450px;
    height:auto;
    border-radius: 20px;
    font-weight: bold;
}

.table > div:first-child {
    padding-bottom: 15px;
    border-bottom: 1px solid #b6b6b6;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 2px grey;
}

.table > div:nth-child(2) {
    color: #405b6c;
    text-shadow: 2px 2px 2px grey;
    padding-left: 15px;
    position: absolute;
    margin-top: -10px;
    background-color: #e7f0ed;
    border-right: 2px solid #c6c3c3;
}


span{
    float:left;
}

.tr{
    font-size: 0.85em;
    border-bottom: 1px solid #c6c3c3;
    padding: 15px;
    text-align: right;
    color: #282c31;
}

.tr:last-child {
    text-align: center;
    border-bottom: none;
}

input{
    font-size: 1em;
    font-family: 'Tahoma', serif;und-color: #dfffff;
    color: #282c31;
    border: #e7f0ed inset;
    border-radius: 20px;
    height: 20px;
    margin-right: 120px;
}

input:hover {
    background-color: #91babb;
}

input:focus{
    border-color: #1f52ff;
}

#mess  {
    z-index: 3;
    display: none;
    position: fixed;
    margin-left:40%;
    margin-top: 50px;
    background-color: #575451;
    border-radius: 10px;
    width:300px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border: 2px dotted #4e8b84;
    color: #ffffff;
}


.button{
    margin-left: -80px;
    margin-top: 0px;
    height: 40px;
    box-shadow: 0 2px 3px #494949;
    border-radius: 50px;
    border-color: #959595;
    background-color: #757575;
    color:#ffffff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.buttonMenu {
    margin: auto;
    height: 25px;
    box-shadow: 0 2px 3px #494949;
    border-radius: 20px;
    border-color: #e7f0ed;
    background-color: #e3dfdf;
    color: #494949;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}