.table {
    z-index: 10;
    position: absolute;
    font-size: 1em;
    font-family: 'Tahoma', serif;
    margin-left: 442px;
    margin-top: 91px;
    background-color: white;
    border: 5px grey solid;
    box-shadow: 5px 5px 10px grey;
    width:450px;
    height:auto;
    border-radius: 20px;
    font-weight: bold;
    display: none;
}

.table > div:nth-child(2) {
    padding-bottom: 15px;
    border-bottom: 1px solid #b6b6b6;
    padding-top: 20px;
    text-align: center;
    color: #94190d;
    text-shadow: 2px 2px 2px #c5c5c5;
}

.table > div:nth-child(3) {
    color: #f9f9f9;
    text-shadow: 2px 2px 2px grey;
    padding-left: 15px;
    position: absolute;
    margin-top: -10px;
    background-color: #94190d;
    border-right: 2px solid #c6c3c3;
}


.table > span{
    float:left;
}

.table > .tr{
    font-size: 0.85em;
    border-bottom: 1px solid #c6c3c3;
    padding: 15px;
    text-align: right;
    color: #282c31;
}

.table > .tr:last-child {
    text-align: center;
    border-bottom: none;
}

.table > .tr > label > input, .table > input {
    font-size: 1em;
    font-family: 'Tahoma', serif;und-color: #dfffff;
    color: #282c31;
    border: #e7f0ed inset;
    border-radius: 20px;
    height: 20px;
    margin-right: 120px;
}

.table > .tr > input:hover, .table > input:hover {
    background-color: #91babb;
}

.table > .tr > label > input:focus{
    border-color: #1f52ff;
}

#mess  {
    z-index: 3;
    display: none;
    position: fixed;
    margin-left:40%;
    margin-top: 50px;
    background-color: #eef7f4;
    border-radius: 10px;
    width:300px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border: 2px dotted #4e8b84;
    color: #ffffff;
}


.table  > .tr >  .button{
    margin-left: -80px;
    margin-top: 0px;
    height: 40px;
    box-shadow: 0 2px 3px #494949;
    border-radius: 50px;
    border-color: #959595;
    background-color: #757575;
    color:#ffffff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.buttonMenu {
    margin: auto;
    height: 25px;
    box-shadow: 0 2px 3px #494949;
    border-radius: 20px;
    border-color: #e7f0ed;
    background-color: #e3dfdf;
    color: #494949;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}